<script>
$(function() {
    $('.piece').draggable();
});
</script>
<% if @game.turn == current_user.id %>
<script>
  $(function() {
    function convertLocation(x) {
      var new_x = "";
      switch(x) {
        case "a":
          new_x = 1;
          break;
        case "b":
          new_x = 2;
          break;
        case "c":
          new_x = 3;
          break;
        case "d":
          new_x = 4;
          break;
        case "e":
          new_x = 5;
          break;
        case "f":
          new_x = 6;
          break;
        case "g":
          new_x = 7;
          break;
        case "h":
          new_x = 8;
          break;
      }
      return new_x;
    }
    $('.white').droppable({
      drop: function( event, ui ) {
        var updateURL = $(ui.draggable).attr("data-piece-update-url");
        /*var current_x = $(ui.draggable).attr("data-current-x");
        var current_y = $(ui.draggable).attr("data-current-y");*/
        var myID = this.getAttribute("id");
        var new_x = convertLocation(myID.substring(0,1));
        var new_y = myID.substring(1,2);
        $.ajax({
          type: 'PUT',
          url: updateURL,
          dataType: 'json',
          data: { piece: { location_x: new_x, location_y: new_y/*, destination_x: new_x, destination_y: new_y*/ }}
        });
      }
    });
    $('.black').droppable({
      drop: function( event, ui ) {
        var updateURL = $(ui.draggable).attr("data-piece-update-url");
        var myID = this.getAttribute("id");
        var new_x = convertLocation(myID.substring(0,1));
        var new_y = myID.substring(1,2);
        $.ajax({
          type: 'PUT',
          url: updateURL,
          dataType: 'json',
          data: { piece: { location_x: new_x, location_y: new_y }}
        });
      }
    });
});

</script>
<% if @game.turn == @game.white_player_id %>
  <% if @game.black_player_id %>
    <% @game.update_attributes({turn: @game.black_player_id}) %>
  <% end %>
<% elsif @game.turn == @game.black_player_id %>
  <% @game.update_attributes({turn: @game.white_player_id}) %>
<% end %>
<% end %>

<div class="chessboard">
  <!-- 1st -->
  <div id="a8" class="white"><% if piece_at(1,8) %><%= image_tag piece_at(1,8), class: 'piece', data: { piece_update_url: games_piece_path(get_id(1,8)), current_x: 1, current_y: 8 } %><% end %></div>
  <div id="b8" class="black"><% if piece_at(2,8) %><%= image_tag piece_at(2,8), class: 'piece', data: { piece_update_url: games_piece_path(get_id(2,8)), current_x: 2, current_y: 8 } %><% end %></div>
  <div id="c8" class="white"><% if piece_at(3,8) %><%= image_tag piece_at(3,8), class: 'piece', data: { piece_update_url: games_piece_path(get_id(3,8)), current_x: 3, current_y: 8 } %><% end %></div>
  <div id="d8" class="black"><% if piece_at(4,8) %><%= image_tag piece_at(4,8), class: 'piece', data: { piece_update_url: games_piece_path(get_id(4,8)), current_x: 4, current_y: 8 } %><% end %></div>
  <div id="e8" class="white"><% if piece_at(5,8) %><%= image_tag piece_at(5,8), class: 'piece', data: { piece_update_url: games_piece_path(get_id(5,8)), current_x: 5, current_y: 8 } %><% end %></div>
  <div id="f8" class="black"><% if piece_at(6,8) %><%= image_tag piece_at(6,8), class: 'piece', data: { piece_update_url: games_piece_path(get_id(6,8)), current_x: 6, current_y: 8 } %><% end %></div>
  <div id="g8" class="white"><% if piece_at(7,8) %><%= image_tag piece_at(7,8), class: 'piece', data: { piece_update_url: games_piece_path(get_id(7,8)), current_x: 7, current_y: 8 } %><% end %></div>
  <div id="h8" class="black"><% if piece_at(8,8) %><%= image_tag piece_at(8,8), class: 'piece', data: { piece_update_url: games_piece_path(get_id(8,8)), current_x: 8, current_y: 8 } %><% end %></div>
  <!-- 2nd -->
  <div id="a7" class="black"><% if piece_at(1,7) %><%= image_tag piece_at(1,7), class: 'piece', data: { piece_update_url: games_piece_path(get_id(1,7)), current_x: 1, current_y: 7 } %><% end %></div>
  <div id="b7" class="white"><% if piece_at(2,7) %><%= image_tag piece_at(2,7), class: 'piece', data: { piece_update_url: games_piece_path(get_id(2,7)), current_x: 2, current_y: 7 } %><% end %></div>
  <div id="c7" class="black"><% if piece_at(3,7) %><%= image_tag piece_at(3,7), class: 'piece', data: { piece_update_url: games_piece_path(get_id(3,7)), current_x: 3, current_y: 7 } %><% end %></div>
  <div id="d7" class="white"><% if piece_at(4,7) %><%= image_tag piece_at(4,7), class: 'piece', data: { piece_update_url: games_piece_path(get_id(4,7)), current_x: 4, current_y: 7 } %><% end %></div>
  <div id="e7" class="black"><% if piece_at(5,7) %><%= image_tag piece_at(5,7), class: 'piece', data: { piece_update_url: games_piece_path(get_id(5,7)), current_x: 5, current_y: 7 } %><% end %></div>
  <div id="f7" class="white"><% if piece_at(6,7) %><%= image_tag piece_at(6,7), class: 'piece', data: { piece_update_url: games_piece_path(get_id(6,7)), current_x: 6, current_y: 7 } %><% end %></div>
  <div id="g7" class="black"><% if piece_at(7,7) %><%= image_tag piece_at(7,7), class: 'piece', data: { piece_update_url: games_piece_path(get_id(7,7)), current_x: 7, current_y: 7 } %><% end %></div>
  <div id="h7" class="white"><% if piece_at(8,7) %><%= image_tag piece_at(8,7), class: 'piece', data: { piece_update_url: games_piece_path(get_id(8,7)), current_x: 8, current_y: 7 } %><% end %></div>
  <!-- 3rd -->
  <div id="a6" class="white"><% if piece_at(1,6) %><%= image_tag piece_at(1,6), class: 'piece', data: { piece_update_url: games_piece_path(get_id(1,6)), current_x: 1, current_y: 6 } %><% end %></div>
  <div id="b6" class="black"><% if piece_at(2,6) %><%= image_tag piece_at(2,6), class: 'piece', data: { piece_update_url: games_piece_path(get_id(2,6)), current_x: 2, current_y: 6 } %><% end %></div>
  <div id="c6" class="white"><% if piece_at(3,6) %><%= image_tag piece_at(3,6), class: 'piece', data: { piece_update_url: games_piece_path(get_id(3,6)), current_x: 3, current_y: 6 } %><% end %></div>
  <div id="d6" class="black"><% if piece_at(4,6) %><%= image_tag piece_at(4,6), class: 'piece', data: { piece_update_url: games_piece_path(get_id(4,6)), current_x: 4, current_y: 6 } %><% end %></div>
  <div id="e6" class="white"><% if piece_at(5,6) %><%= image_tag piece_at(5,6), class: 'piece', data: { piece_update_url: games_piece_path(get_id(5,6)), current_x: 5, current_y: 6 } %><% end %></div>
  <div id="f6" class="black"><% if piece_at(6,6) %><%= image_tag piece_at(6,6), class: 'piece', data: { piece_update_url: games_piece_path(get_id(6,6)), current_x: 6, current_y: 6 } %><% end %></div>
  <div id="g6" class="white"><% if piece_at(7,6) %><%= image_tag piece_at(7,6), class: 'piece', data: { piece_update_url: games_piece_path(get_id(7,6)), current_x: 7, current_y: 6 } %><% end %></div>
  <div id="h6" class="black"><% if piece_at(8,6) %><%= image_tag piece_at(8,6), class: 'piece', data: { piece_update_url: games_piece_path(get_id(8,6)), current_x: 8, current_y: 6 } %><% end %></div>
  <!-- 4th -->
  <div id="a5" class="black"><% if piece_at(1,5) %><%= image_tag piece_at(1,5), class: 'piece', data: { piece_update_url: games_piece_path(get_id(1,5)), current_x: 1, current_y: 5 } %><% end %></div>
  <div id="b5" class="white"><% if piece_at(2,5) %><%= image_tag piece_at(2,5), class: 'piece', data: { piece_update_url: games_piece_path(get_id(2,5)), current_x: 2, current_y: 5 } %><% end %></div>
  <div id="c5" class="black"><% if piece_at(3,5) %><%= image_tag piece_at(3,5), class: 'piece', data: { piece_update_url: games_piece_path(get_id(3,5)), current_x: 3, current_y: 5 } %><% end %></div>
  <div id="d5" class="white"><% if piece_at(4,5) %><%= image_tag piece_at(4,5), class: 'piece', data: { piece_update_url: games_piece_path(get_id(4,5)), current_x: 4, current_y: 5 } %><% end %></div>
  <div id="e5" class="black"><% if piece_at(5,5) %><%= image_tag piece_at(5,5), class: 'piece', data: { piece_update_url: games_piece_path(get_id(5,5)), current_x: 5, current_y: 5 } %><% end %></div>
  <div id="f5" class="white"><% if piece_at(6,5) %><%= image_tag piece_at(6,5), class: 'piece', data: { piece_update_url: games_piece_path(get_id(6,5)), current_x: 6, current_y: 5 } %><% end %></div>
  <div id="g5" class="black"><% if piece_at(7,5) %><%= image_tag piece_at(7,5), class: 'piece', data: { piece_update_url: games_piece_path(get_id(7,5)), current_x: 7, current_y: 5 } %><% end %></div>
  <div id="h5" class="white"><% if piece_at(8,5) %><%= image_tag piece_at(8,5), class: 'piece', data: { piece_update_url: games_piece_path(get_id(8,5)), current_x: 8, current_y: 5 } %><% end %></div>
  <!-- 5th -->
  <div id="a4" class="white"><% if piece_at(1,4) %><%= image_tag piece_at(1,4), class: 'piece', data: { piece_update_url: games_piece_path(get_id(1,4)), current_x: 1, current_y: 4 } %><% end %></div>
  <div id="b4" class="black"><% if piece_at(2,4) %><%= image_tag piece_at(2,4), class: 'piece', data: { piece_update_url: games_piece_path(get_id(2,4)), current_x: 2, current_y: 4 } %><% end %></div>
  <div id="c4" class="white"><% if piece_at(3,4) %><%= image_tag piece_at(3,4), class: 'piece', data: { piece_update_url: games_piece_path(get_id(3,4)), current_x: 3, current_y: 4 } %><% end %></div>
  <div id="d4" class="black"><% if piece_at(4,4) %><%= image_tag piece_at(4,4), class: 'piece', data: { piece_update_url: games_piece_path(get_id(4,4)), current_x: 4, current_y: 4 } %><% end %></div>
  <div id="e4" class="white"><% if piece_at(5,4) %><%= image_tag piece_at(5,4), class: 'piece', data: { piece_update_url: games_piece_path(get_id(5,4)), current_x: 5, current_y: 4 } %><% end %></div>
  <div id="f4" class="black"><% if piece_at(6,4) %><%= image_tag piece_at(6,4), class: 'piece', data: { piece_update_url: games_piece_path(get_id(6,4)), current_x: 6, current_y: 4 } %><% end %></div>
  <div id="g4" class="white"><% if piece_at(7,4) %><%= image_tag piece_at(7,4), class: 'piece', data: { piece_update_url: games_piece_path(get_id(7,4)), current_x: 7, current_y: 4 } %><% end %></div>
  <div id="h4" class="black"><% if piece_at(8,4) %><%= image_tag piece_at(8,4), class: 'piece', data: { piece_update_url: games_piece_path(get_id(8,4)), current_x: 8, current_y: 4 } %><% end %></div>
  <!-- 6th -->
  <div id="a3" class="black"><% if piece_at(1,3) %><%= image_tag piece_at(1,3), class: 'piece', data: { piece_update_url: games_piece_path(get_id(1,3)), current_x: 1, current_y: 3 } %><% end %></div>
  <div id="b3" class="white"><% if piece_at(2,3) %><%= image_tag piece_at(2,3), class: 'piece', data: { piece_update_url: games_piece_path(get_id(2,3)), current_x: 2, current_y: 3 } %><% end %></div>
  <div id="c3" class="black"><% if piece_at(3,3) %><%= image_tag piece_at(3,3), class: 'piece', data: { piece_update_url: games_piece_path(get_id(3,3)), current_x: 3, current_y: 3 } %><% end %></div>
  <div id="d3" class="white"><% if piece_at(4,3) %><%= image_tag piece_at(4,3), class: 'piece', data: { piece_update_url: games_piece_path(get_id(4,3)), current_x: 4, current_y: 3 } %><% end %></div>
  <div id="e3" class="black"><% if piece_at(5,3) %><%= image_tag piece_at(5,3), class: 'piece', data: { piece_update_url: games_piece_path(get_id(5,3)), current_x: 5, current_y: 3 } %><% end %></div>
  <div id="f3" class="white"><% if piece_at(6,3) %><%= image_tag piece_at(6,3), class: 'piece', data: { piece_update_url: games_piece_path(get_id(6,3)), current_x: 6, current_y: 3 } %><% end %></div>
  <div id="g3" class="black"><% if piece_at(7,3) %><%= image_tag piece_at(7,3), class: 'piece', data: { piece_update_url: games_piece_path(get_id(7,3)), current_x: 7, current_y: 3 } %><% end %></div>
  <div id="h3" class="white"><% if piece_at(8,3) %><%= image_tag piece_at(8,3), class: 'piece', data: { piece_update_url: games_piece_path(get_id(8,3)), current_x: 8, current_y: 3 } %><% end %></div>
  <!-- 7th -->
  <div id="a2" class="white"><% if piece_at(1,2) %><%= image_tag piece_at(1,2), class: 'piece', data: { piece_update_url: games_piece_path(get_id(1,2)), current_x: 1, current_y: 2 } %><% end %></div>
  <div id="b2" class="black"><% if piece_at(2,2) %><%= image_tag piece_at(2,2), class: 'piece', data: { piece_update_url: games_piece_path(get_id(2,2)), current_x: 2, current_y: 2 } %><% end %></div>
  <div id="c2" class="white"><% if piece_at(3,2) %><%= image_tag piece_at(3,2), class: 'piece', data: { piece_update_url: games_piece_path(get_id(3,2)), current_x: 3, current_y: 2 } %><% end %></div>
  <div id="d2" class="black"><% if piece_at(4,2) %><%= image_tag piece_at(4,2), class: 'piece', data: { piece_update_url: games_piece_path(get_id(4,2)), current_x: 4, current_y: 2 } %><% end %></div>
  <div id="e2" class="white"><% if piece_at(5,2) %><%= image_tag piece_at(5,2), class: 'piece', data: { piece_update_url: games_piece_path(get_id(5,2)), current_x: 5, current_y: 2 } %><% end %></div>
  <div id="f2" class="black"><% if piece_at(6,2) %><%= image_tag piece_at(6,2), class: 'piece', data: { piece_update_url: games_piece_path(get_id(6,2)), current_x: 6, current_y: 2 } %><% end %></div>
  <div id="g2" class="white"><% if piece_at(7,2) %><%= image_tag piece_at(7,2), class: 'piece', data: { piece_update_url: games_piece_path(get_id(7,2)), current_x: 7, current_y: 2 } %><% end %></div>
  <div id="h2" class="black"><% if piece_at(8,2) %><%= image_tag piece_at(8,2), class: 'piece', data: { piece_update_url: games_piece_path(get_id(8,2)), current_x: 8, current_y: 2 } %><% end %></div>
  <!-- 8th -->
  <div id="a1" class="black"><% if piece_at(1,1) %><%= image_tag piece_at(1,1), class: 'piece', data: { piece_update_url: games_piece_path(get_id(1,1)), current_x: 1, current_y: 1 } %><% end %></div>
  <div id="b1" class="white"><% if piece_at(2,1) %><%= image_tag piece_at(2,1), class: 'piece', data: { piece_update_url: games_piece_path(get_id(2,1)), current_x: 2, current_y: 1 } %><% end %></div>
  <div id="c1" class="black"><% if piece_at(3,1) %><%= image_tag piece_at(3,1), class: 'piece', data: { piece_update_url: games_piece_path(get_id(3,1)), current_x: 3, current_y: 1 } %><% end %></div>
  <div id="d1" class="white"><% if piece_at(4,1) %><%= image_tag piece_at(4,1), class: 'piece', data: { piece_update_url: games_piece_path(get_id(4,1)), current_x: 4, current_y: 1 } %><% end %></div>
  <div id="e1" class="black"><% if piece_at(5,1) %><%= image_tag piece_at(5,1), class: 'piece', data: { piece_update_url: games_piece_path(get_id(5,1)), current_x: 5, current_y: 1 } %><% end %></div>
  <div id="f1" class="white"><% if piece_at(6,1) %><%= image_tag piece_at(6,1), class: 'piece', data: { piece_update_url: games_piece_path(get_id(6,1)), current_x: 6, current_y: 1 } %><% end %></div>
  <div id="g1" class="black"><% if piece_at(7,1) %><%= image_tag piece_at(7,1), class: 'piece', data: { piece_update_url: games_piece_path(get_id(7,1)), current_x: 7, current_y: 1 } %><% end %></div>
  <div id="h1" class="white"><% if piece_at(8,1) %><%= image_tag piece_at(8,1), class: 'piece', data: { piece_update_url: games_piece_path(get_id(8,1)), current_x: 8, current_y: 1 } %><% end %></div>
</div>

<%= @game.black_player_id %>
<%= @game.white_player_id %>

<%= link_to "Join Game", game_path(@game), :method => :put, class: "nav-link" %>
<br />
<%= link_to 'Concede', game_path, method: :delete, data: {confirm: 'Are you sure you want forfeit this game?'} %>